* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --c-primary: #191927;
  --c-lighter: #222230;
  --c-accent: #14a5ae;
  --c-accent-alpha: rgba(20, 164, 174, 0.678);
  --c-text: #f5fbfb;
}
@font-face {
  font-family: Poppins;
  src: url("./Poppins-Regular.otf");
}
body {
  background: var(--c-primary);
  color: var(--c-text);
  scroll-behavior: smooth;
  font-family: Poppins;
}
nav {
  height: 50px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  border: 1px solid white;
}
main {
  display: flex;
  min-height: calc(100vh - 50px);
}
.history-container {
  flex: 0.5;
  padding: 20px;
  border-right: 1px solid white;
}
#history-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.request-container {
  flex: 1;
  padding: 20px;
}
.request-container .main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.request-container .main .input-cont {
  display: flex;
}
.request-container .main input#url {
  flex: 1;
  padding: 10px;
  background: var(--c-lighter);
  border: none;
  color: var(--c-text);
}
.request-container #sendBtn {
  padding: 5px 10px;
  border: none;
  background: var(--c-accent-alpha);
  cursor: pointer;
  color: var(--c-text);
}
.request-container .method {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
#request-method {
  background: rgb(21, 20, 39);
  color: white;
  padding: 5px;
}
body > main > div.request-container > div > textarea {
  resize: none;
  height: 60vh;
  padding: 10px;
  color: var(--c-text);
  background: var(--c-lighter);
}
.response-container {
  position: relative;
  flex: 1.3;
  padding: 10px;
}
.response-container .main {
  background: var(--c-lighter);
  padding: 10px;
  border-radius: 10px;
  height: 100%;
  width: 600px;
  /* resize: horizontal; */
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body > main > div.response-container > div.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid white;
  border-bottom: 4px solid rgba(97, 97, 97, 0.527);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 5;
  animation: rotate 0.5s infinite 0.5s;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* TABS */
/* Style the tab */
.tab {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: var(--c-accent-alpha);
  display: flex;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  flex: 1;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: rgb(56, 56, 56);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  color: rgb(0, 0, 0);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 12px;
  border-top: none;
  height: 70vh;
  overflow: auto;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tabcontent.active {
  display: block;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#Result {
  background: transparent;
  color: white;
}
/* Error overlay */
.error-overlay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  max-width: 400px;
  width: 100%;
  background: rgb(224, 224, 224);
  z-index: 99;
  border-radius: 10px;
  padding: 20px;
  color: #000;
}
.error-overlay p.error {
  max-height: 80%;
  overflow: auto;
}
.error-overlay .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.error-overlay button {
  padding: 5px 30px;
  background: #000;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
