<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles//style.css">
</head>

<body>
    <nav>
        <h1>API Testing tool</h1>
    </nav>
    <main>
        <div class="history-container">
            <h2>History</h2>
            <div id="history-list" class="requests">

            </div>
        </div>
        <div class="request-container">
            <h2>Request</h2>
            <div class="main">
                <div class="method">
                    <h3>Method</h3>
                    <select id="request-method">
                        <option selected>GET</option>
                        <option>POST</option>
                        <option>PUT</option>
                        <option>PATCH</option>
                        <option>DELETE</option>
                    </select>
                </div>
                <div class="input-cont">
                    <input type="text" id="url" placeholder="http://api/auth/">
                    <button id="sendBtn">SEND</button>
                </div>
                <textarea placeholder="JSON BODY"></textarea>

            </div>
        </div>
        <div class="response-container">
            <div #response-loader class="loader"></div>
            <div class="main">
                <h2>Response</h2>
            </div>

        </div>
    </main>

    <script src="./app.js"></script>
</body>

</html>